#stepone-background {
  background-color: #AFD4C0;
  height: 100vh;
  width: 98.7vw;
}

.display-area {
  width: 60vw;
  background-color: #E5F4EC;
  margin: 0 auto;
  padding: 20px;
}

#stepone-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 15px 5px;
  align-items: center;
  margin-bottom: 20px;
}

.add-listing {
  font-weight: 750;
  font-size: 1.5em;
}

.cancel-button {
  background-color: #FEC2C2;
  border: none;
  padding: 5px 10px;
  font-size: 1.2em;
  margin-right: 5px;
}

.next-button {
  background-color: #3B5249;
  border: none;
  padding: 5px 10px;
  font-size: 1.2em;
  margin-right: 5px;
  color: white;
}

#one-next-spacing {
  margin-top: 95px;
  display: flex;
  justify-content: flex-end;
}

.entry-style {
  padding: 80px;
}

p {
  padding: 2px 12px;
  font-weight: 700;
}

input {
  border: 1.2px solid rgb(5, 95, 5);
  border-radius: 3px;
  height: 22px;
  margin: 2px 15px 20px 0;
  
}

#property-input {
  width: 20vw;
}

#address-input {
  width: 40vw;
}

/* #flex-inputs {
  display: flex;
} */